h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* BANNER IMAGE */
.bgimg-1 {
  background-image: url("../images/linkedintrees.jpg");
  min-height: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;

}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/Users/clb/Downloads/lightning_cover.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/Users/clb/Downloads/crows.jpeg");
  min-height: 400px;
}

#myNavbar {
  color: white;
}

#welcome {
text-align: justify;
}

#subtitle {
  color: black;
  text-align: center;
}

.links {
    padding-right: 10px;
}

#github {
justify-content: space-evenly;}

.headers {
  font-family: "Montserrat", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proplan {
    text-align: justify;
    padding-left: 20px;
}

#pro-plan-img {
    padding-right: 20px;
}

.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
